# Heavy directories
fastq/
fastq_trimmed/
salmon_output/
references/
trimmed/
not_trimmed/
trimmed_data/
dataset/

# Heavy files
*.fastq
*.gz

# Low relevance files
*fastp.html
*fastp.json
01_rnaseq/scripts/pipeline_bash.sh
02_rnaseq/scripts/setup_and_bash_pipeline.sh

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata
