# Heavy directories
fastq/
fastq_trimmed/
salmon_output/
references/

# Heavy files
*.fastq
*.fastq.gz

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata
