# Heavy directories
fastq/
fastq_trimmed/
salmon_output/
references/
trimmed/
not_trimmed/
trimmed_data*/

# Heavy files
*.fastq
*.gz

# Low relevance files
*fastp.html
*fastp.json

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata
